*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
}
body{
	background-color: #e6e6e6;
}
.noticia{
	border-radius: 2px;
	width: 300px;
	height: 320px;
	float: left;
	margin: 9px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(99,99,99,0.5)
}

img{
	width: 100%;
	height: 168px;
	border-radius: 2px 2px 0 0;
}
span{
	text-transform: uppercase;
	height: 16px;
}
.onde{
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	margin: 10px;
}
.quando{
	font-weight: 300;
	color: #999999;
	font-size: 11px;
	margin: 10px;
}
h2{
	color: #b5000d;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	margin: 0 10px 10px 10px;
}
p{
	margin: 
	color: #333333;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	margin: 0 10px 10px 10px;
}