*{
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	background-color: #f5f5f5;
	font-family: 'Arial', Sans-serif;
}
aside {
	width: 200px;
	background-color: #242536;
}
aside h2{
	height: 60px;
	background-color: #141524;
	background-image: url(img/nucliotlogo.png);
	background-repeat: no-repeat;
	background-position: center;
}
aside h2 span {
	visibility: hidden;
}
aside nav li{
	list-style: none;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
}
aside nav li:hover{
	padding-left: 6px;
	background-color: #151524;
	border-left: 4px solid #ffb946;
	cursor: pointer;
}
aside nav li i{
	margin-right: 5px;
	height: 20px;
	width: 20px;
	text-align: center;
}
aside nav li a{
	color: #fff;
	text-decoration: none;
}
aside nav li small{
	float: right;
	margin-right: 15px; 
	font-size: 14px;
	opacity: 0.6;
}
.principal {
	width: 100%;
}
.principal header {
	height: 60px;
	background-color: #242536;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.principal header img {
	margin: 15px;
}
.principal .modulo .abas{
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
}
.principal .modulo .abas li{
	display: inline-block;
	margin-left: 40px;
}
.principal .modulo .abas li a{
	text-transform: uppercase;
	display: inline-block;
	color: #000;
	height: 60px;
	line-height: 60px;
	font-weight: bold;
	text-decoration: none;
}
.principal .modulo .abas li a:hover{
	color: #ffb946;
	box-shadow: 0 -2px #ffb946 inset;
}
.principal .modulo .container .canvas{
	margin: 20px;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}
form h2{
	margin-bottom: 10px;
}
form li{
	list-style: none;
	margin-bottom: 10px;
}
form ul{
	margin-bottom: 30px;
}
form input, form select{
	padding-left: 15px;
	height: 40px;
	width: 400px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	box-sizing: border-box;
}
form small{
	display: block;
	width: 400px;
	margin-top: 5px;
	margin-bottom: 20px;
}
form .ok{
	background-image: url(img/ok.png);
	background-repeat: no-repeat;
	background-position: top 10px right; 
	width: 430px;
}
form button{
	width: 400px;
	height: 40px;
	text-transform: uppercase;
	color: #fff;
	background-color: #3aca60;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	border: none;
}
form .confirmacoes li{
	font-size: 14px;
	max-width: 400px;
	display: flex;
}
form .confirmacoes input{
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
form .confirmacoes label{
}
::-webkit-input-placeholder {
	color: #c5c5c5;
}