body{
	width: 1024px;
	margin: 0 auto;
}
div{
	margin: 10px 10px 40px 10px;
	width: 320px;
	float: left;
}
img{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
#logo{
	width: 213px;
	margin: 25px auto;
}
h2{
	margin: 10px 0 0 0;
	padding: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #4a4a4a;
}