body *{
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
.display{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20vh;
	padding-right: 20px;
	background-color: #202020;
}
.display input{
	width: 100%;
	border: none;
	color: #ffffff;
	background-color: #202020;
	font-size50px;
	text-align: right;
}
.keyboard{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,20vh);
}
.keyboard button{
	background-color: #d8d8d8;
	border: 2px solid #c6c7cb;
	background-repeat: no-repeat;
	background-position: center;
}

.keyboard button:active{
	box-shadow: 0 0 0px 10px rgba(255,255,255,0.5) inset;
}
.keyboard button:focus{
	outline: none;
}

button.select{
	background-color: #4a90e2;
	border: none;
}

button.convert{
	background-color: #f98611;
	border: none;
}

button.converted{
	background-color: #27ae60;
	border: none;
}
button.brl-usd{
	background-image: url('../img/real.png');
	
}
button.usd-brl{
	background-image: url('../img/dolar.png');
}