*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	text-align: center;
	background-color: #ecf0fa;
}
h2{
	color: #545454;
	font-size: 20px;
	text-transform: uppercase;
}
li{
	margin: 12px 12px;
	font-size: 18px;
	background-color: #9b59b6;
	color: #ffffff;
	padding: 10px;
	text-align: left;
}

