*{
	padding: 0;
	margin: 0;
	font-family: Lato, sans-serif;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
}
a.botao{
	background-color: #ff3d7f;
	box-shadow: 0 6px 0 0 #a32751;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	font-size: 36px;
}
header .container{
	justify-content: space-between;
	font-size: 20px;
	font-weight: 500;
}
header h2 {
	height: 80px;
	width: 180px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}
header h2 span{
	visibility: hidden;
}
header nav{
	line-height: 80px;
}
header nav li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
header nav li a{
	color: #fff;
	text-decoration: none;
	padding: 10px 40px;
}
header nav li:last-child a{
	border: 1px solid #fff;
	border-radius: 3px;
}
#topo {
	margin-top: -80px;
	height: 700px;
	background-image: url(img/fundo.png);
}
#topo .container div{
	color: #fff;
	flex-direction: column;
	justify-content: center;
	margin-top: 220px; 
	text-align: center;
}
#topo .container div h2{
	font-weight: 500;
	font-size: 50px;
}
#topo .container div p{
	font-weight: 300;
	font-size: 36px;
}
#topo .container div a{
	margin-top: 20px;
	display: block;
	padding: 25px 0px;
}
#conheca .container{
	padding-top: 75px;
	padding-bottom: 75px;
}
#conheca .container div{
	float: right;
	margin-left: 100px;
	max-width: 450px;
}
#conheca .container div h2{
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 20px;
}
#conheca .container div p{
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 40px;
}
#conheca .container div a{
	font-size: 30px;
	font-weight: 300;
	padding: 20px 60px;
}
#depoimento{
	border-top: 3px solid #511099;
	background-color: #ebe8fb;
}
#depoimento .container{
	flex-direction: column;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 115px;
}
#depoimento .container img{
	height: 150px;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#depoimento .container p{
	font-size: 24px;
	font-weight: 300;
}
#depoimento .container p b{
	font-weight: 700;
}
#convite {
	height: 420px;
	background-image: url(img/fundo-convite.png);
}
#convite .container div{
	background-color: #fff;
	opacity: 0.89;
	display: block;
	line-height: 120px;
	border-radius: 3px;
	margin: 150px auto;
}
#convite .container form{
	padding: 0 30px;
}
#convite .container form .email{
	font-size: 24px;
	width: 480px;
	display: inline-block;
	border: none;
}
#convite .container form button{
	font-size: 24px;
	background-image: url(img/enviar.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0,0);
	border: none;
	height: 45px;
	width: 90px;
	display: inline;
}
#convite .container form button span{
	visibility: hidden;
}
footer {
	border-top: 3px solid #fff;
	height: 90px;
	background-color: #2a0157;
}
footer .container {
	justify-content: center;
}
footer .container p{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 90px
}
@media (max-width: 900px) {
	header nav {
		display: none;
	}
	header h2 {
		margin-left: 20px;
	}
	#topo .container{
		padding: 10px;
	}
	#conheca .container{
		flex-direction: column;
	}
	#conheca .container div{
		padding: 10px;
		margin: 0;	
	}
	#conheca .container img{
		width: 100%;
	}
		#convite .container form{
		padding: 0 0px;
	}
	#convite .container form .email{
		padding: 10px 10px;
		width: 90%;
		font-size: 24px;
		display: block;
	}
	#convite .container form button{
	display: block;
	margin: 10px auto;
}
}