body * {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-color: #555;
}

h2{
	font-size: 20px;
	font-weight: 300;
	padding-top: 15px;
	padding-left: 15px;
}

input{
	font-size: 100px;
	font-weight: 300;
	width: 100%;
	height: 148px;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0);
	border: none;
}

input::-webkit-input-placeholder{
	color: #fff;
	font-size: 80px;
}

.container{
	background-color: grey;
	width: 375px;
	margin: 10px auto;
	box-shadow: 1px 1px 5px 0 #222;
}

div.altura {
	background-color: #3498db;
	height: 240px;
	color: #fff;

}

div.peso{
	background-color: #34495e;
	height: 240px;
	color: #fff;
}

#calcular{
	height: 174px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

#calcular #enviar{
	width: 92%;
	height: 148px;
	margin-top: 10px;
	margin-bottom: 16px;
	background-color: #27ae60;
	box-shadow: 0 6px 0 0 #245b3b;
	border-radius: 4px;
	border: none;
	font-size: 72px;
	color: #fff;
}
#resultado{
	width: 100%;
	display: flex;
	color: #4a4a4a;

}
#resultado button{
	border: none;
	background-color: rgba(0,0,0,0);
	margin: 8px 35px;
}
#resultado div{
	display: flex;
	flex-direction: column;
}
#resultado div h3{
	font-size: 50px;
	font-weight: 300;
}
#resultado div h4{
	font-size: 24px;
	font-weight: 300;
}

@media (max-width: 480px) {
	.container{
		margin: 0;
		width: 100%;
	}
}